<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xszx.dao.ShoppingDao">
    <select id="getshopping" resultType="com.xszx.beans.Shopping">
        select * from xszx_pygc_shopping
    </select>

    <update id="updatesid2" parameterType="int">
      update xszx_pygc_shopping set s_amount = s_amount+1 where s_id =#{s_id}
    </update>

    <select id="getshoppingamount" parameterType="int" resultType="com.xszx.beans.Shopping">
        select * from xszx_pygc_shopping where s_id = #{s_id};
    </select>

    <update id="updatesid1" parameterType="int">
      update xszx_pygc_shopping set s_amount = s_amount-1 where s_id =#{s_id}
    </update>

    <insert id="addShopping" parameterType="int">
        insert into xszx_pygc_shopping values (null ,#{u_id} ,#{b_id},1)
    </insert>
</mapper>